@charset "UTF-8";
@import url("second.css");

html,
html * {
  box-sizing: border-box;
  margin: 0;
padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 1vw;
  background: white;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}
a, a:visited {
    color: inherit;
}
header {
  position: fixed;
  padding: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
}

instafeed img {
padding:5px;
opacity:0.8;
filter:alpha(opacity=80);
z-index:1000;
}

instafeed img:hover {
opacity:1;
filter:alpha(opacity=100);
}

.site-logo {
  position: relative;
  display: block;
  float: left;
  width: 10.1em;
}
.site-logo img {
  width: 10.1em;
}
.logo {
  opacity: 1;
}
.site-nav {
  position: relative;
  float: right;
  z-index: 400;
  top: 0;
  left: 0;
  display: block !important;
  width: 80%;
  padding: .75em 1em 0 0;
  opacity: .95;
  background: none;
}
.site-nav ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
}
.site-nav ul li {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1.5em;
}
.site-nav ul li a {
  font-size: .85em;
  padding-bottom: .5em;
  text-decoration: none;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.site-nav ul li a:hover {
  outline: none;
  border-bottom: 1px solid white;
}
.hero {
  position: relative;
  height: 62.5vw;
   background-image:-moz-linear-gradient( 135deg, rgb(125,59,222) 0%, rgb(83,200,234) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(125,59,222) 0%, rgb(83,200,234) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(125,59,222) 0%, rgb(83,200,234) 100%);
}
.hero-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  color: #fff;
	position: relative;
  z-index: 20000;
  padding-top: 3.5em;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
h2 {
	font-weight: 10;
	font-size: 4em;
    line-height: 2.2;
	margin-bottom: -.15em;
	padding-top: 5%;
	letter-spacing: .5em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
h1 {
  margin-bottom: 1.5%;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
  letter-spacing: .65em;
  margin-left: .7em;
  font-size: 8.5vw;
}
h3 {
  display: inline;
	font-size: 1.25em;
  font-weight: 300;
  line-height: 2.75;
  letter-spacing: .15em;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
.intro {
  position: relative;
 background-image:-moz-linear-gradient( 135deg, rgb(125,59,222) 0%, rgb(83,200,234) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(125,59,222) 0%, rgb(83,200,234) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(125,59,222) 0%, rgb(83,200,234) 100%);
  padding: 1em;
}
.intro-text {
  position: relative;
	color: #fff;
	width: 100%;
	padding: 1.1em;
}
.intro p {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 1em;
  line-height: 1.8;
  position: relative;
  z-index: 200;
  letter-spacing: .325em;
  text-transform: uppercase;
	text-align: center;
}
.artworks {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.artwork {
  display: flex;
}
.artwork .artwork-piece {
  padding: 0;
  width: 145%;
}
.artwork-piece figure {
  position: figure;
}
.artwork-piece figure img {
  position: relative;
  z-index: 100;
}

.artwork-title {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
	color: #26223e;
  font-size: 2em;
	position: relative;
  font-weight: 100;
  padding: 2em;
  letter-spacing: 0;
  line-height: 1.5;
	max-width: 100%;
}

footer {
  margin-top: -7.5em;
  padding-top: 10em;
  background: #26223e;
}
.footer-content {
  width: 64%;
  margin: 0 auto;
	padding-bottom:.5em;
}
.footer-social {
  display: block;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
.footer-social li {
  display: inline-block;
  margin: 0 1em;
}
.footer-social li a {
  line-height: 3.5em;
  display: inline-block;
  width: 4em;
  height: 4em;
  text-align: center;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 50%;
}
.footer-social li a:hover {
  border-color: #fff;
  background: #fff;
}
.footer-social li a img {
  width: auto;
  height: 2em;
}
.footer-social li a .social-hover {
  display: none;
}
.footer-social li a:hover .social-default {
  display: none;
}
.footer-social li a:hover .social-hover {
  display: inline;
}
.footer-info {
  clear: both;
  padding-top: 1.5em;
}
.footer-info p {
  font-size: .8em;
  color:#fff;
  line-height: 1.55;
  max-width: 36em;
  margin-bottom: 1.3em;
}
.footer-disclaimer {
  width: 60%;
  position: relative;
}
.footer-credit {
  float: right;
  width: 40%;
  text-align: right;
  position: relative;
}
.footer-legal {
  opacity: .8;
}
.footer-credit a:hover {
  text-decoration: none;
}